<div class="modal fade in" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      {{yield}}
    </div>
  </div>
</div>
<div class="modal-backdrop fade in"></div>