<a download href="{{record.url}}">
    <li class="list-group-item">
        <i class="fa fa-fw fa-file-audio-o"></i>
        <strong>{{record-slug record.filename}}</strong>
        <small>{{record-studio record.filename}}</small> <br/>
        <small>{{record-datetime record.filename}}</small>
    </li>
</a>
