<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dradis2</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='/front/assets/app.css' rel='stylesheet' type='text/css'>
</head>
<body data-dradis-api-key="{{ dradis_api_key }}">
<script src="/front/assets/vendor.js"></script>
<script src="/front/assets/app.js"></script>
</body>
</html>
